*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Courgette', cursive;
}
.context {
    width: 100%;
    position: absolute;
    top:50vh;    
}

/* replace section with context h1 later */
.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
h1 span{
    display: inline-block;
    animation: animateWelcome 5s linear forwards;
}
.area{
    background: linear-gradient(rgb(236, 111, 102), rgb(243, 161, 131));
    width: 100%;
    height:100vh;   
}

button{
    margin: 5px;
    padding: 5px;
    color: white;
}
form{
    margin: 10px;
    float: left;
}
img{
    padding : 2px;
    border:1px solid black;
}
@keyframes animateWelcome{
    0%,100%{
        opacity: 0;
        transform:rotateY(90deg);
        filter: blur(10px);
    }
    50%{
        opacity: 1;
        transform:rotateY(0deg);
        filter: blur(0);
    }
}

