*{
    margin: 0px;
    padding: 0px;
}
html{
    min-height: 100%;
}
body{
    width: 100%;
    font-family: 'Courgette', cursive;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(rgb(236, 111, 102), rgb(243, 161, 131));*/
    /*background: repeating-linear-gradient(#e66465, #e66465 20px, #9198e5 20px, #9198e5 25px);*/
}
.wrapper{
    padding: 0px;
}
.intro{
    color: #fff;
    font-family: 'Be Vietnam', sans-serif;
    text-shadow: 0 0 5px red;
    background: linear-gradient(#c33764,#1d2671);
    margin-right: 0px;
    margin-left: 0px;
}
.context {
    width: 100%;
    position: absolute;
    top:50vh;    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
h1 span{
    display: inline-block;
    animation: animateWelcome 5s linear forwards;
}
.area{
    /*background: linear-gradient(rgb(236, 111, 102), rgb(243, 161, 131));*/
    width: 100%;
    height:100%;   
    margin-right: 0px;
    margin-left: 0px;
}
button{
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 16px;
}
#add-movie{
    width: 100px;
    height: 40px;
    color: white;
    background: #002bff;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

form{
    margin: 10px;
    float: left;
}
img{
    padding : 0px;
    margin: 5px;
    border:5px double black ;

}
@keyframes animateWelcome{
    0%,100%{
        opacity: 0;
        transform:rotateY(90deg);
        filter: blur(10px);
    }
    50%{
        opacity: 1;
        transform:rotateY(0deg);
        filter: blur(0);
    }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
